
@font-face {
    font-family: fac;
    src:  url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
}
.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #fff;
    z-index: 1 !important;
}
.loader .load-img{
        height: 400px !important;
        width: 600px;
}
.loader h2 {
    background: linear-gradient(to right, #aeff00, #3cd2e6, rgb(144, 0, 255), rgb(255, 0, 89), #aeff00);
    font-family:'fac';
    font-size: 60px;
    font-weight: bolder;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: txt 3s linear infinite;
}

@keyframes txt {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 200px;
    }
}

.loader.loaded{
    animation: fade 1s linear 1 forwards;
}
@keyframes fade{
    0%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
        display: none;
    }
}